/*
************
* =header
************
*/

header {
	width: 100%;
	height: 70px;
	background-color: black;
	position: relative;
}

.headerMain {
	width: 70%;
	overflow: hidden;
	margin: auto;

	position: relative;
}
.headerMain h1{
	background: url(../img/sintefLogo.png) no-repeat;
	text-indent: -99999px;
	margin-top: 14.5px;
	height: 41px;
	width: 200px;
	float: left;
}


/*
************
* =headerButton
************
*/

header button{
	position: relative;
	width: 100px;
	height: 44px;
	font-size: 18px;
	margin-top: 13px;

	float: right;
	border-style: none;
	background-color: #D8D0C7;

}

header button:hover, .buttonStandard:hover, .dropdown:hover{
	cursor: pointer;
	color: rgb(236,0,140);
}

.checkBox:hover{
	cursor: pointer;
	border-color: rgb(236,0,140);
}

/*
************
* =leftScreen
************
*/

.infoLeft {

	float: left;
	height: 700px;
	width: 300px;
}
.console {
	height: 160px;
	background: #D8D0C7;
	text-align: left;
	font-size: 13px; 
}

.console ul{
	padding-top: 10px;
	padding-left: 20px;
}

.console ul li {
	margin-bottom: 5px;
}
.settings {
	margin: auto;
	margin-top: 20px;
}

ul {
	list-style: none;
}

.settings ul li{


}

.buttonStandard {

	height: 30px;
	width: 110px;
	border-width: 0.8px;
	background-color: #D8D0C7;

}

.dropdown {
	width: 150px;
	height: 30px;
	border-width: 0.8px;
	background-color: #D8D0C7;
}

.checkBox {
	width: 30px;
	height: 30px;

}

.checkBox {
	-webkit-appearance: none;
	background-color: white;
	border-style: solid;
	border-width: 1.5px;
	border-color: #00ADEF;
	display: inline-block;
	position: relative;
}

.checkBox:checked {

}

input[type="checkbox"] {
}

/*
************
* =rightScreen
************
*/

.mouseInstructions {
	width: 70%;
	height: 95px;
	background-color: #D8D0C7;
	float: right;
}

.renderingCanvas{
	height: 700px;
	width: 70%;
	margin-top: 15px;
	background-color: #D8D0C7;
	float: right;
}

.colorBar {

	float: left;
	margin-top: 20px;
	margin-left: 100px;
	height: 100px;
	position: relative;

}

.colorBarIMG {
	background: url(../img/colorBar.png);
	height: 70px;
	width: 1152px;
}

.colorBarInfoMax {
	position: absolute;
	top: 60px;
	right: 4px;
}

.colorBarInfoMin {
	position: absolute;
	top: 60px;
	left: 4px;
}

body {
	margin: 0;
	background-color: rgba(0,0,0,0.9);
	font-family: sans-serif;
}



.main {
	width: 70%;
	overflow: hidden;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	margin: auto;
	background-color: white;
	
}
