/*
************
* =header
************
*/

header {
	z-index:201;
	width: 100%;
	height: 70px;
	background-color: black;
	position: relative;
}

.headerMain {
	min-width: 940px;
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin: auto;

	position: relative;
}
.headerMain h1{
	background: url(../img/sintefLogo.png) no-repeat;
	text-indent: -99999px;
	margin-top: 22.5px;
	height: 25px;
	width: 123px;
	float: left;
}

header button{
	position: relative;
	width: 100px;
	height: 40px;
	font-size: 18px;
	margin-top: 15px;
	float: right;
	border-style: none;
	background-color: #D8D0C7;

}

header button:hover{
	cursor: pointer;
	color: rgb(236,0,140);
}

.checkbox:hover, .dropdown a:hover, .infoButton:hover, .dropdown dt a:hover{
	cursor: pointer;
	border-color: rgb(236,0,140);
}


/*
************
* =main
************
*/
body {
	margin: auto;
	background-color: #1E1E1E;
	font-family: helvetica, arial;
}



.main {   
	min-width: 940px;
	min-height: 768px;
	width: 80%;
	overflow: hidden;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	margin: auto;
	background-color: white;
	
}

#loadingOverlay{
    
   opacity: 1;
   background-color: #1E1E1E;
   z-index:     200;
   color: black;
   width:      100%;
   height:     100%; 
   top:        0; 
   left:       0; 
   position:   fixed; 

}
#loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:     200px;
    width:      200px;
    z-index: 201;
    margin: auto;
}

#loading p {
    color: white;
    font-size: 26px;
    
}

/*
************
* =leftScreen
************
*/

.infoLeft {
	position: absolute;
	float: left;
	min-width: 220px;
        width: 15%;
        margin: auto;
}

.console {
	height: 160px;
	color: #3E3E3E;
	border-color: #3E3E3E;
	border-bottom-width: 1px;
	border-bottom-style: solid;
        padding: auto;
	font-size: 11px; 
        margin: auto;
        
}
#consoleInfoWrap {
        min-width: 220px;
        height: 160px;
        margin: auto;
        display: table;
}
.console ul{
	list-style: none;
	padding-top: 45px;
}

.console ul li {
	margin-bottom: 7px;
}
#consoleStaticInfo {
	
	margin-right: 10px;
        margin-left: 5px;
        display: table-cell;
}

#consoleVarInfo {
        margin-right: 5px;
        display: table-cell;
}

.settings {
	padding-top: 20px;
	padding-bottom: 28px;
	overflow: hidden;
	position: relative;
	left: 0;
	right:0;
	margin: auto;
}

.settings ul {
	list-style: none;
	width: 220px;
	margin: auto;
}

.buttonStandard {
	float: left; 
	height: 40px;
	width: 130px;
	margin-top: 8px;
	text-align: center;
	line-height: 39px;
	font-size: 17px;
	color: #3E3E3E;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #3E3E3E;

}

/*
************
* =checkbox
************
*/
.checkbox {
	float: right;
	margin: 0;
	margin-top: 8px;
	padding: 0;
	width: 40px;
	height: 40px;

}

.checkbox {
        -moz-appearance: none;
	-webkit-appearance: none;
        appearance: none;
	background-color: white;
        border-style: none;
	border-style: solid;
	border-width: 1.5px;
	border-color: #00ADEF;
	display: inline-block;
	position: relative;
}

.checkbox:checked:after {
    -moz-appearance: none;
    -webkit-appearance: none;
    content:'\2714';
    font-size: 30px;
    top: 3px;
    left: 7px;
    border-style: none;
    position: absolute;
    color: #00ADEF;
}


/*
************
* =dropdown
************
*/
/* General dropdown styles */       
.dropdown dd { 
    position:relative;
    z-index: 201;
}
/* DT styles for sliding doors */
.dropdown dt a {
    background: url('../img/dropdownArrow.png') no-repeat right white;
    display:block; 
    border-width: 1px; 
    border-style: solid; 
    border-color: #00ADEF;
    text-decoration: none;
    color: #3E3E3E;
    width:218px; 
    margin-top: 0;
    height: 40px
}

.dropdown dt a span {
    cursor:pointer; 
    display:block; 
    padding-top: 13px;
    padding-left: 33px;
}

/* UL styles */
.dropdown dd ul { 
    background:white none repeat scroll 0 0; 
    display:none;
    list-style:none; 
    border-style: solid;
    border-width: 1px;
    border-color: #00ADEF;
    padding:5px 0px; 
    position:absolute; 
    left:0px; 
    top:2px; 
    width:auto; 
    min-width:218px;
    z-index: 100;
}

.dropdown dd ul li a:hover {
    background: #00ADEF;
    color: white;
}
.dropdown span.value { 
    display:none;
}

.dropdown dd ul li a { 
    padding:5px; 
    display:block;
    text-decoration: none;
    color: #3E3E3E;
    padding-left: 33px;
}

.dropdown {
        width: 220px;
        z-index: 120;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        background: green;
}

#dropdownWrap {
    position: relative;
    background: blue;
}
.infoButton{
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: #00ADEF;
    position: relative;
    left: 5px;
    margin-right: 15px;
    top: 3px;
    width: 22px;
    line-height: 18px;
    bottom: 0;
    height: 18px;
    text-align: center;
    font-size: 11px;
    float: left;
}

#dropdownInfoDiv {
    position: absolute;
    height: 120px;
    width: 220px;
    top: 0;
    border-style: solid;
    border-color: rgb(236,0,140);
    border-width: 1px;
    box-shadow: 5px 5px 5px #E3E3E3;
    left: 190px;
    right:0;
    background: white;
    margin: auto;
    display: table;
}

#dropdownInfoDiv p {
    padding: 20px;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#dropdownInfoDiv:after 
{
content: "";
position: absolute;
top: 50%;
left: -15px;
border-style: solid;
border-width: 3px;
border-color: rgb(236,0,140);
display: block;
width: 0;
z-index: 1;
}


/*
************
* =slider
************
*/

.sliderAndHistogram {
	width: 290px;
	margin: auto;
	overflow: hidden;
}


#slider {
	margin-left: 6px;
	margin-bottom: 50px;
        margin-top: 29px;
	border-radius: 0px;
	border-color: #3E3E3E;
	background-color: white;
	float: left;
}

.ui-slider-range {
	background-color: #00ADEF;
}

.ui-slider-handle, .updated-handle, .ui-state-default {
	background-color: black;
	border-width: 10px;
}

.ui-slider-vertical .ui-slider-handle {
    margin-left: -1px;
    width: 25px;
    height: 25px;
    border-radius: 0;
    background-color: white;
    border-color: #00ADEF;
}

.ui-slider-vertical .ui-slider-handle:hover {
    cursor: pointer;
    border-color: rgb(236,0,140);
}

/*
************
* =histogram
***********
*/

#histogram {
margin-top: 20px;
margin-left: 15px;
width: 80%;
min-width: 180px;
padding: 0;
float: left;
}

.jqplot-event-canvas {
	background-color: rgba(0,0,0,0);
}

/*
************
* =rightScreen
************
*/

.mouseInstructions {

	min-width: 500px;
	width: 70%;
	height: 95px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #3E3E3E;
        color: #3E3E3E;
	float: right;
}


.mouseInstructions ul {
    min-width: 500px;
    width: 70%;
    margin: auto;
    text-align: center;
}
.mouseInstructions ul li{

    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#canvasWrap {
        overflow: hidden;
	min-width: 500px;
	min-height: 500px;
	height: 700px;
	width: 70%;
	margin-top: 15px;
	border-style: solid;
	border-color: #3E3E3E;
	border-width: 1px;
        position: relative;
	float: right;
        z-index: 0;
}
#renderingCanvas{
	
        z-index: 1;
}

#fullscreenButton {
    width: 70px;
    height: 50px;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    position: absolute;
}


.colorBar {
	overflow: hidden;
	width: 70%;
        z-index: 20;
	position: relative;
	height: 95px;
	margin-top: 20px;
	float: right;
}

.colorBarText {
	width: 70%;
	margin-top: 2px;
	position: absolute;
	float: right;
}


.colorBarIMG {
	float: right;	
	height: 50px;
	width: 100%;
}

.colorBarInfoMax {
	position: absolute;
	color: #3E3E3E;
	text-align: center;
	border: none;
	width: 100px;
	right: 5px;
	bottom: 15px;
}

.colorBarInfoMin {
	position: absolute;
	color: #3E3E3E;
	text-align: center;
	border: none;
	width: 100px;
	left: 5px;
	bottom: 15px;
	
}

.colorBarInfoMid {
	position: absolute;
	left: 0;
	right: 0;
	border: none;
	width: 100px;
	bottom: 15px;
	text-align: center;
	color: #3E3E3E;
	margin: auto;
}



/*
************
* =fullscreen
***********
*/

 :-webkit-full-screen  .rightScreen,  :-webkit-full-screen  #canvasWrap, :-webkit-full-screen  body, :-webkit-full-screen  .container, :-webkit-full-screen  .main, :-webkit-full-screen  #renderingCanvas {
     
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 100%;
     height:100%;
     float: none;
        
    }


:-webkit-full-screen .colorBar{
    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    float: none;
}    



#fullscreenButton {
    width: 70px;
    height: 50px;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    position: absolute;
}